extends layout

block content
	main(ng-app="weatherApp" ng-controller="weatherCtrl")
		.loading(ng-class="{'active':loading}")
			.sk-loader-holder
				.sk-folding-cube
					.sk-cube1.sk-cube
					.sk-cube2.sk-cube
					.sk-cube4.sk-cube
					.sk-cube3.sk-cube
		div.weatherapp_ctn(ng-class="{'active': !loading}" ng-if="!error")
			section.weatherpod(ng-hide="showAggregation")
				.current
					.date
						div {{getDatetime | date : 'EEEE, dd/MM'}}
						div {{city}},
							span {{country}}
					.display
						.temperature
							span {{currentTemp | number: 0}}
							span &deg;
						.iconctn
							i(class="wi wi-owm-{{icon}}")
						.hwdetails
							div
								i(class="wi wi-raindrop")
								span {{humidity | number: 0}}%
							div
								i(class="wi wi-small-craft-advisory")
								span {{windspeed | number: 2}}m/s
					.large_text
						span {{ description | titleCase }}
				.forecast
					.day(ng-repeat="($index, day) in days" ng-if="day")
						span {{day.date | date: 'dd/MM'}}
						i(class="wi wi-owm-{{day.icon}}")
						span {{day.max | number:0}}/{{day.min | number:0}}

			weather-aggregation
			.controls
					div
						button(ng-click="changeCity('montreal')") MTL
						button(ng-click="changeCity('sanfrancisco')") SF
						button(ng-click="changeCity('newyork')") NY
						button(ng-click="showAggregation = true") Agg
		.error(ng-if="error")
			h1 Try again later!
			p Sorry, an error occured while trying to retrieve the data.
