<section class="aggregation" ng-show="showAggregation">
    <div class="highest_temp">
        <i class="wi wi-thermometer"></i>
        <span class="small_text">Highest Average Temperature</span>
        <p class="large_text"><b>{{highestAverage.city}}</b> <br/>{{highestAverage.temp | number:0}}&deg; average</p>
    </div>
    <div class="lowest_temp">
        <i class="wi wi-thermometer-exterior"></i>
        <span class="small_text">Lowest Average Temperature</span>
        <p class="large_text"><b>{{lowestAverage.city}}</b> <br/>{{lowestAverage.temp | number:0}}&deg; average</p>
    </div>
    <div class="most_sunny">
        <i class="wi wi-day-sunny"></i>
        <span class="small_text">Most Sunny City</span>
        <p class="large_text"><b>{{mostSunny.city}}</b> <br/>{{mostSunny.count}}days</p>
    </div>
    <div class="least_sunny">
        <i class="wi wi-cloudy"></i>
        <span class="small_text">Least Sunny City</span>
        <p class="large_text"><b>{{leastSunny.city}}</b> <br/>{{leastSunny.count}}days</p>
    </div>
</section>