@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,300,500,700,900');
* {
	box-sizing: border-box;
}

@include placeholder{
	color: black;
	opacity: 1;
}
@include selection{
	background: $red;
	color: white;
}

body{
	font-family: $family;
	height: 100%;
	margin: 0;
	padding-bottom: 0 !important;
	background: #c1e5d6;
	background: -moz-linear-gradient(-45deg,  #c1e5d6 0%, #b3e1d3 49%, #c1d0b6 100%);
	background: -webkit-linear-gradient(-45deg,  #c1e5d6 0%,#b3e1d3 49%,#c1d0b6 100%);
	background: linear-gradient(135deg,  #c1e5d6 0%,#b3e1d3 49%,#c1d0b6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1e5d6', endColorstr='#c1d0b6',GradientType=1 );
}
html, body{
	height: 100%;
}
a, a:hover, a:visited, a:active {
	text-decoration: none;
	color: inherit;
}

ul li {
	list-style-type: none;
}

ul, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

button {
	text-transform: uppercase;
	outline: none;
}

hr {
	height: 1px;
	border: none;
	border-top: 1px solid $grayline;
	background-color: transparent;
	margin-top: 4px;
	margin-bottom: 15px;
	width: 100%;
}
.clearfix {
	clear: both;
	&:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
	display: block;
}
[v-cloak] {
	display: none;
}

.hide {
	display: none;
}

.shide {
	display: none !important;
}

.transparent {
	background: transparent !important;
}

.full {
	@include zero-out();
}

.bringtop {
	z-index: 10000;
}

.abspsn{ position: absolute !important; }

// loader animation
.sk-loader-holder{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 10%;

	.pulse {
		width: 40px;
		height: 40px;
		position: relative;
		margin: 100px auto;
	}

	.double-bounce1, .double-bounce2 {
		width: 100%;
		height: 100%;
		border-radius: 50%;
		background-color: #00d9ed;
		opacity: 0.6;
		position: absolute;
		top: 0;
		left: 0;

		@include animation($name: sk-bounce, $time: 2.0s, $smoothing: ease-in-out, $delay: 0s, $count: infinite, $direction: normal, $play: running );

	}

	.double-bounce2 {
		-webkit-animation-delay: -1.0s;
		animation-delay: -1.0s;
	}

	.spinnerwave {
		margin: 100px auto;
		width: 50px;
		height: 40px;
		text-align: center;
		font-size: 10px;
		> div {
			background-color: #00d9ed;
			height: 100%;
			width: 6px;
			display: inline-block;

			@include animation($name: sk-stretchdelay, $time: 1.2s, $smoothing: ease-in-out, $delay: 0s, $count: infinite, $direction: normal, $play: running );
		}

		.rect2 {
			-webkit-animation-delay: -1.1s;
			animation-delay: -1.1s;
		}

		.rect3 {
			-webkit-animation-delay: -1.0s;
			animation-delay: -1.0s;
		}

		.rect4 {
			-webkit-animation-delay: -0.9s;
			animation-delay: -0.9s;
		}

		.rect5 {
			-webkit-animation-delay: -0.8s;
			animation-delay: -0.8s;
		}


		.sk-fading-circle {
			margin: 100px auto;
			width: 40px;
			height: 40px;
			position: relative;
		}

		.sk-circle {
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;

			.sk-circle:before {
				content: '';
				display: block;
				margin: 0 auto;
				width: 15%;
				height: 15%;
				background-color: #00d9ed;
				border-radius: 100%;
				-webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
				animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
			}
			.sk-circle2 { @include rotate(30deg); }
			.sk-circle3 { @include rotate(60deg); }
			.sk-circle4 { @include rotate(90deg); }
			.sk-circle5 { @include rotate(120deg); }
			.sk-circle6 { @include rotate(150deg); }
			.sk-circle7 { @include rotate(180deg); }
			.sk-circle8 { @include rotate(210deg); }
			.sk-circle9 { @include rotate(240deg); }
			.sk-circle10 { @include rotate(270deg); }
			.sk-circle11 { @include rotate(300deg); }
			.sk-circle12 { @include rotate(330deg); }

			.sk-circle2:before { @include prefix(animation-delay, -1.1s, webkit); }
			.sk-circle3:before { @include prefix(animation-delay, -1s, webkit); }
			.sk-circle4:before { @include prefix(animation-delay, -0.9s, webkit); }
			.sk-circle5:before { @include prefix(animation-delay, -0.8s, webkit); }
			.sk-circle6:before { @include prefix(animation-delay, -0.7s, webkit); }
			.sk-circle7:before { @include prefix(animation-delay, -0.6s, webkit); }
			.sk-circle8:before { @include prefix(animation-delay, -0.5s, webkit); }
			.sk-circle9:before { @include prefix(animation-delay, -0.4s, webkit); }
			.sk-circle10:before { @include prefix(animation-delay, -0.3s, webkit); }
			.sk-circle11:before { @include prefix(animation-delay, -0.2s, webkit); }
			.sk-circle12:before { @include prefix(animation-delay, -0.1s, webkit); }

		}

		.spinner {
			margin: 100px auto 0;
			width: 70px;
			text-align: center;
			> div {
				width: 18px;
				height: 18px;
				background-color: #00d9ed;
				border-radius: 100%;
				display: inline-block;
				@include animation($name: sk-bouncedelay, $time: 1.4s, $smoothing: ease-in-out, $delay: 0s, $count: infinite, $direction: normal, $fillmode: both, $play: running );
			}
			.bounce1 { @include prefix(animation, -0.32s, webkit) }
			.bounce2 { @include prefix(animation, -0.16s, webkit) }
		}
	}
	.sk-folding-cube {
		margin: 20px auto;
		width: 40px;
		height: 40px;
		position: relative;
		z-index: 9999;
		@include rotate(45deg, Z);

		.sk-cube {
			float: left;
			width: 50%;
			height: 50%;
			position: relative;
			@include scale(1.1, 1.1);
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: $salmon;
				@include animation($name: sk-foldCubeAngle, $time: 2.4s, $smoothing: linear, $delay: 0s, $count: infinite, $direction: normal, $fillmode: both, $play: running );
				@include prefix(transform-origin, 100% 100%, webkit ms);
			}

		}

		.sk-cube2 {
			@include prefix(transform,scale(1.1) rotateZ(90deg), webkit );
			&:before {
				@include prefix(animation-delay, 0.3s, webkit);
			}
		}

		.sk-cube3 {
			@include prefix(transform,scale(1.1) rotateZ(180deg), webkit );
			&:before {
				@include prefix(animation-delay, 0.6s, webkit);
			}
		}

		.sk-cube4 {
			@include prefix(transform, scale(1.1) rotateZ(270deg), webkit);
			&:before {
				@include prefix(animation-delay, 0.9s, webkit);
			}
		}

	}
	.spinner {
		margin: 100px auto 0;
		width: 70px;
		text-align: center;
		> div {
			width: 18px;
			height: 18px;
			background-color: #00d9ed;
			border-radius: 100%;
			display: inline-block;
			@include animation($name: sk-bouncedelay, $time: 1.4s, $count: infinite, $smoothing: ease-in-out, $fillmode: both)
		}

		.bounce1 { @include prefix(animation-delay, -0.32s, webkit);}
		.bounce2 { @include prefix(animation-delay, -0.16s, webkit);}

	}
	.sk-fading-circle {
		margin: 100px auto;
		width: 40px;
		height: 40px;
		position: relative;
		.sk-circle {
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
		}

		.sk-circle:before {
			content: '';
			display: block;
			margin: 0 auto;
			width: 15%;
			height: 15%;
			background-color: #00d9ed;
			border-radius: 100%;
			-webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
			animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
		}
		.sk-circle2 { @include rotate(30deg);  }
		.sk-circle3 { @include rotate(60deg);  }
		.sk-circle4 { @include rotate(90deg);  }
		.sk-circle5 { @include rotate(120deg);  }
		.sk-circle6 { @include rotate(150deg);  }
		.sk-circle7 { @include rotate(180deg);  }
		.sk-circle8 { @include rotate(210deg);  }
		.sk-circle9 { @include rotate(240deg);  }
		.sk-circle10 { @include rotate(270deg);  }
		.sk-circle11 { @include rotate(300deg);  }
		.sk-circle12 { @include rotate(330deg);  }
		.sk-circle2:before { @include prefix(animation-delay, -1.1s, webkit);}
		.sk-circle3:before { @include prefix(animation-delay, -1s, webkit);}
		.sk-circle4:before { @include prefix(animation-delay, -0.9s, webkit);}
		.sk-circle5:before { @include prefix(animation-delay, -0.8s, webkit);}
		.sk-circle6:before { @include prefix(animation-delay, -0.7s, webkit);}
		.sk-circle7:before { @include prefix(animation-delay, -0.6s, webkit);}
		.sk-circle8:before { @include prefix(animation-delay, -0.5s, webkit);}
		.sk-circle9:before { @include prefix(animation-delay, -0.4s, webkit);}
		.sk-circle10:before { @include prefix(animation-delay, -0.3s, webkit);}
		.sk-circle11:before { @include prefix(animation-delay, -0.2s, webkit);}
		.sk-circle12:before { @include prefix(animation-delay, -0.1s, webkit);}
	}

}
