// ------------------------------------------------------------
// 	LANDING PAGE
// ------------------------------------------------------------
main{
	height: 100%;
	width: 100%;
	@include flex;
	@include justify-content(center);
	@include align-items(center);
	.weatherapp_ctn{
		position: relative;
		width: 100%;
		max-width: 250px;
		opacity: 0;
		margin-top: -25px;
		visibility: hidden;
		@include transition($delay: 0.4s);
		&.active{
			margin-top: 0;
			opacity: 1;
			visibility: visible;
		}
	}
	section.weatherpod, section.aggregation{
		background: $graybg;
		width: 100%;
		color: white;
		font-weight: 300;
		@include box-shadow(0, 4px, 0px, 0px, rgba(0,0,0,0.3));
		.current{
			padding: 10px 2px;
			background: $salmon;
			.large_text{
				text-align: center;
				font-size: 1.7em;
				font-weight: 100;
				padding-top: 20px;
			}
			.date{
				padding: 5px 10px 10px 10px;
				@include flex;
				@include flex-wrap(wrap);
				@include justify-content(space-between);
				>div{white-space: nowrap;}
				span{ font-weight: 500;}
			}
			.display{
				text-align: center;
				@include flex;
				@include align-content(center);
				>div{ @include flex-basis(33.333%)}
				.temperature{
					font-size: 3em;
					position: relative;
					@include align-self(flex-end);
					span:last-child{font-size: 0.6em; position: absolute;}
				}
				.iconctn{
					font-size: 3.5em;
				}
				.hwdetails{
					@include align-self(flex-end);
					font-size: 0.8em;
					i{padding-right: 4px;}
				}
			}
		}
		.forecast{
			padding: 20px 10px 35px 10px;
			text-align: center;
			span, i{ display: block; }
			span{ font-size: 0.9em;}
			.day span:first-child{ padding-bottom: 10px; font-weight: 400;}
			.day span:first-child{ padding-bottom: 10px; font-weight: 400;}
			.day span:last-child{ padding-top: 10px;}
			.day:nth-child(-n+2){
				i{
					border-right: 1px solid $grayline;
				}
			}
			i{
				font-size: 2.5em;
				padding: 10px 0;
			}
			@include flex;
			@include align-content(center);
			>div{ @include flex-basis(33.333%)}
		}

	}
	section.aggregation{
		>div:nth-child(2n-1){ background: $salmon; }
		.large_text{
			font-size: 1.5em;
			font-weight: 100;
			padding-top: 10px;
		}
		p{ margin: 0; }
		>div{
			padding: 25px 15px;
			text-align: left;
			position: relative;
		}
		i{position: absolute; top: 35px; font-size: 1.2em; }
		.small_text{ display: block; padding-left: 20px; }
		.most_sunny, .least_sunny{
			i{ top: 27px; }
			.small_text{ padding-left: 30px; }
		}
	}
	.controls{
		position: absolute;
		left: 100%;
		top: 0;
		button{
			border: none;
			height: 25px;
			border-left: 1px solid lighten($dgraybg, 5%);
			background: $dgraybg;
			color: $lgray;
			padding: 15px 7px;
			&:last-child{border-left: none}
			font-size: 0.8em;
			@include transition;
			&:hover, &.active{
				background: lighten($dgraybg, 15%);
				color: white;
			}
		}
	}
	.loading {
		position: absolute;
		margin: auto;
		@include transition;
		left: 0;
		right: 0;
		visibility: hidden;
		opacity: 0;
		margin-top: -25px;
		z-index: $lvl1;
		&.active{
			margin-top: 0;
			visibility: visible;
			opacity: 1;
		}
		z-index: $lvl2;
	}
	.error{
		z-index: $lvl2;
		padding: 25px;
		background: $dgraybg;
		color: white;
		h1{ color: white; }
	}
}
