
//      MIXINS
// -----------------------------------------------------
@mixin border-radius($radius: 5px, $radius2:$radius, $radius3: $radius, $radius4:null) {
  @if $radius4 == null{
	  -webkit-border-radius: $radius;
	  -moz-border-radius: $radius;
	  -ms-border-radius: $radius;
	  -o-border-radius: $radius;
	  border-radius: $radius;
  }@else{
	  -webkit-border-radius: $radius $radius2 $radius3 $radius4;
	  -moz-border-radius: $radius $radius2 $radius3 $radius4;
	  -ms-border-radius: $radius $radius2 $radius3 $radius4;
	  -o-border-radius: $radius $radius2 $radius3 $radius4;
	  border-radius: $radius $radius2 $radius3 $radius4;
  }
}
@mixin pull-left{ float:left; } 
@mixin pull-right{ float:right; } 
@mixin transition($prop: all, $time: 0.4s, $type: ease, $delay: 0s, $prop2: null, $time2: $time, $type2: $type, $delay2: $delay, $prop3: null, $time3: $time, $type3: $type, $delay3: $delay, $prop4: null, $time4: $time, $type4: $type, $delay4: $delay, $prop5: null, $time5: $time, $type5: $type, $delay5: $delay ){
    @if $prop2 == null{
        @if $prop != transform{
            -webkit-transition: $prop $time $type $delay;
            -ms-transition: $prop $time $type $delay;
            -o-transition: $prop $time $type $delay;
            -moz-transition: $prop $time $type $delay;
        }@else{
            -webkit-transition: -webkit-$prop $time $type $delay;
            -ms-transition: -ms-$prop $time $type $delay;
            -o-transition: -o-$prop $time $type $delay;
            -moz-transition: -moz-$prop $time $type $delay;
        }
        transition: $prop $time $type $delay;
    } @else if $prop3 == null {
        @if $prop != transform or $prop2 != transform{
            -webkit-transition: $prop $time $type $delay, $prop2 $time2 $type2 $delay2;
            -ms-transition: $prop $time $type $delay, $prop2 $time2 $type2 $delay2;
            -o-transition: $prop $time $type $delay, $prop2 $time2 $type2 $delay2;
            -moz-transition: $prop $time $type $delay, $prop2 $time2 $type2 $delay2;
        }@else if $prop == transform {  
            -webkit-transition: -webkit-$prop $time $type $delay, $prop2 $time2 $type2 $delay2;
            -ms-transition: -ms-$prop $time $type $delay, $prop2 $time2 $type2 $delay2;
            -o-transition: -o-$prop $time $type $delay, $prop2 $time2 $type2 $delay2;
            -moz-transition: -moz-$prop $time $type $delay, $prop2 $time2 $type2 $delay2;
        }@else{ 
            -webkit-transition: $prop $time $type $delay, -webkit-$prop2 $time2 $type2 $delay2;
            -ms-transition: $prop $time $type $delay, -ms-$prop2 $time2 $type2 $delay2;
            -o-transition: $prop $time $type $delay, -o-$prop2 $time2 $type2 $delay2;
            -moz-transition: $prop $time $type $delay, -moz-$prop2 $time2 $type2 $delay2;
        }
        transition: $prop $time $type $delay, $prop2 $time2 $type2 $delay2;
    } @else if  $prop4 == null {
        @if $prop != transform or $prop2 != transform or $prop3 != transform{
            -webkit-transition: $prop $time $type $delay, $prop2 $time2 $type2 $delay2, $prop3 $time3 $type3 $delay3;
            -ms-transition: $prop $time $type $delay, $prop2 $time2 $type2 $delay2, $prop3 $time3 $type3 $delay3;
            -o-transition: $prop $time $type $delay, $prop2 $time2 $type2 $delay2, $prop3 $time3 $type3 $delay3;
            -moz-transition: $prop $time $type $delay, $prop2 $time2 $type2 $delay2, $prop3 $time3 $type3 $delay3;
        }@else if $prop == transform{  
            -webkit-transition: -webkit-$prop $time $type $delay, $prop2 $time2 $type2 $delay2, $prop3 $time3 $type3 $delay3;
            -ms-transition: -ms-$prop $time $type $delay, $prop2 $time2 $type2 $delay2, $prop3 $time3 $type3 $delay3;
            -o-transition: -o-$prop $time $type $delay, $prop2 $time2 $type2 $delay2, $prop3 $time3 $type3 $delay3;
            -moz-transition: -moz-$prop $time $type $delay, $prop2 $time2 $type2 $delay2, $prop3 $time3 $type3 $delay3;
        }@else if $prop2 == transform{ 
            -webkit-transition: -webkit-$prop $time $type $delay, $prop2 $time2 $type2 $delay2, $prop3 $time3 $type3 $delay3;
            -ms-transition: -ms-$prop $time $type $delay, $prop2 $time2 $type2 $delay2, $prop3 $time3 $type3 $delay3;
            -o-transition: -o-$prop $time $type $delay, $prop2 $time2 $type2 $delay2, $prop3 $time3 $type3 $delay3;
            -moz-transition: -moz-$prop $time $type $delay, $prop2 $time2 $type2 $delay2, $prop3 $time3 $type3 $delay3;
        }@else{
            -webkit-transition: $prop $time $type $delay, -webkit-$prop2 $time2 $type2 $delay2, $prop3 $time3 $type3 $delay3;
            -ms-transition: $prop $time $type $delay, -ms-$prop2 $time2 $type2 $delay2, $prop3 $time3 $type3 $delay3;
            -o-transition: $prop $time $type $delay, -o-$prop2 $time2 $type2 $delay2, $prop3 $time3 $type3 $delay3;
            -moz-transition: $prop $time $type $delay, -moz-$prop2 $time2 $type2 $delay2, $prop3 $time3 $type3 $delay3;
        }
        transition: $prop $time $type $delay, $prop2 $time2 $type2 $delay2, $prop3 $time3 $type3 $delay3 ;
    } @else if  $prop5 == null  {
		@if $prop != transform or $prop2 != transform or $prop3 != transform  or $prop4 != transform{
			-webkit-transition: $prop $time $type $delay, $prop2 $time2 $type2 $delay2, $prop3 $time3 $type3 $delay3, $prop4 $time4 $type4 $delay4;
			-ms-transition: $prop $time $type $delay, $prop2 $time2 $type2 $delay2, $prop3 $time3 $type3 $delay3, $prop4 $time4 $type4 $delay4;
			-o-transition: $prop $time $type $delay, $prop2 $time2 $type2 $delay2, $prop3 $time3 $type3 $delay3, $prop4 $time4 $type4 $delay4;
			-moz-transition: $prop $time $type $delay, $prop2 $time2 $type2 $delay2, $prop3 $time3 $type3 $delay3, $prop4 $time4 $type4 $delay4;
		}@else if $prop == transform{
			-webkit-transition: -webkit-$prop $time $type $delay, $prop2 $time2 $type2 $delay2, $prop3 $time3 $type3 $delay3, $prop4 $time4 $type4 $delay4;
			-ms-transition: -ms-$prop $time $type $delay, $prop2 $time2 $type2 $delay2, $prop3 $time3 $type3 $delay3, $prop4 $time4 $type4 $delay4;
			-o-transition: -o-$prop $time $type $delay, $prop2 $time2 $type2 $delay2, $prop3 $time3 $type3 $delay3, $prop4 $time4 $type4 $delay4;
			-moz-transition: -moz-$prop $time $type $delay, $prop2 $time2 $type2 $delay2, $prop3 $time3 $type3 $delay3, $prop4 $time4 $type4 $delay4;
		}@else if $prop2 == transform{
			-webkit-transition: $prop $time $type $delay, -webkit-$prop2 $time2 $type2 $delay2, $prop3 $time3 $type3 $delay3, $prop4 $time4 $type4 $delay4;
			-ms-transition: $prop $time $type $delay, -ms-$prop2 $time2 $type2 $delay2, $prop3 $time3 $type3 $delay3, $prop4 $time4 $type4 $delay4;
			-o-transition: $prop $time $type $delay, -o-$prop2 $time2 $type2 $delay2, $prop3 $time3 $type3 $delay3, $prop4 $time4 $type4 $delay4;
			-moz-transition: $prop $time $type $delay, -moz-$prop2 $time2 $type2 $delay2, $prop3 $time3 $type3 $delay3, $prop4 $time4 $type4 $delay4;
		}@else if $prop3 == transform{
			-webkit-transition: $prop $time $type $delay, $prop2 $time2 $type2 $delay2, -webkit-$prop3 $time3 $type3 $delay3, $prop4 $time4 $type4 $delay4;
			-ms-transition: $prop $time $type $delay, $prop2 $time2 $type2 $delay2, -ms-$prop3 $time3 $type3 $delay3, $prop4 $time4 $type4 $delay4;
			-o-transition: $prop $time $type $delay, $prop2 $time2 $type2 $delay2, -o-$prop3 $time3 $type3 $delay3, $prop4 $time4 $type4 $delay4;
			-moz-transition: $prop $time $type $delay, $prop2 $time2 $type2 $delay2, -moz-$prop3 $time3 $type3 $delay3, $prop4 $time4 $type4 $delay4;
		}@else if $prop4 == transform{
			-webkit-transition: $prop $time $type $delay, $prop2 $time2 $type2 $delay2, $prop3 $time3 $type3 $delay3, -webkit-$prop4 $time4 $type4 $delay4;
			-ms-transition: $prop $time $type $delay, $prop2 $time2 $type2 $delay2, $prop3 $time3 $type3 $delay3, -ms-$prop4 $time4 $type4 $delay4;
			-o-transition: $prop $time $type $delay, $prop2 $time2 $type2 $delay2, $prop3 $time3 $type3 $delay3, -o-$prop4 $time4 $type4 $delay4;
			-moz-transition: $prop $time $type $delay, $prop2 $time2 $type2 $delay2, $prop3 $time3 $type3 $delay3, -moz-$prop4 $time4 $type4 $delay4;
		}
		transition: $prop $time $type $delay, $prop2 $time2 $type2 $delay2, $prop3 $time3 $type3 $delay3, $prop4 $time4 $type4 $delay4 ;
	} @else {
		@if $prop != transform or $prop2 != transform or $prop3 != transform  or $prop4 != transform or $prop5 != transform{
			-webkit-transition: $prop $time $type $delay, $prop2 $time2 $type2 $delay2, $prop3 $time3 $type3 $delay3, $prop4 $time4 $type4 $delay4, $prop5 $time5 $type5 $delay5;
			-ms-transition: $prop $time $type $delay, $prop2 $time2 $type2 $delay2, $prop3 $time3 $type3 $delay3, $prop4 $time4 $type4 $delay4, $prop5 $time5 $type5 $delay5;
			-o-transition: $prop $time $type $delay, $prop2 $time2 $type2 $delay2, $prop3 $time3 $type3 $delay3, $prop4 $time4 $type4 $delay4, $prop5 $time5 $type5 $delay5;
			-moz-transition: $prop $time $type $delay, $prop2 $time2 $type2 $delay2, $prop3 $time3 $type3 $delay3, $prop4 $time4 $type4 $delay4, $prop5 $time5 $type5 $delay5;
		}@else if $prop == transform{
			-webkit-transition: -webkit-$prop $time $type $delay, $prop2 $time2 $type2 $delay2, $prop3 $time3 $type3 $delay3, $prop4 $time4 $type4 $delay4, $prop5 $time5 $type5 $delay5;
			-ms-transition: -ms-$prop $time $type $delay, $prop2 $time2 $type2 $delay2, $prop3 $time3 $type3 $delay3, $prop4 $time4 $type4 $delay4, $prop5 $time5 $type5 $delay5;
			-o-transition: -o-$prop $time $type $delay, $prop2 $time2 $type2 $delay2, $prop3 $time3 $type3 $delay3, $prop4 $time4 $type4 $delay4, $prop5 $time5 $type5 $delay5;
			-moz-transition: -moz-$prop $time $type $delay, $prop2 $time2 $type2 $delay2, $prop3 $time3 $type3 $delay3, $prop4 $time4 $type4 $delay4, $prop5 $time5 $type5 $delay5;
		}@else if $prop2 == transform{
			-webkit-transition: $prop $time $type $delay, -webkit-$prop2 $time2 $type2 $delay2, $prop3 $time3 $type3 $delay3, $prop4 $time4 $type4 $delay4, $prop5 $time5 $type5 $delay5;
			-ms-transition: $prop $time $type $delay, -ms-$prop2 $time2 $type2 $delay2, $prop3 $time3 $type3 $delay3, $prop4 $time4 $type4 $delay4, $prop5 $time5 $type5 $delay5;
			-o-transition: $prop $time $type $delay, -o-$prop2 $time2 $type2 $delay2, $prop3 $time3 $type3 $delay3, $prop4 $time4 $type4 $delay4, $prop5 $time5 $type5 $delay5;
			-moz-transition: $prop $time $type $delay, -moz-$prop2 $time2 $type2 $delay2, $prop3 $time3 $type3 $delay3, $prop4 $time4 $type4 $delay4, $prop5 $time5 $type5 $delay5;
		}@else if $prop3 == transform{
			-webkit-transition: $prop $time $type $delay, $prop2 $time2 $type2 $delay2, -webkit-$prop3 $time3 $type3 $delay3, $prop4 $time4 $type4 $delay4, $prop5 $time5 $type5 $delay5;
			-ms-transition: $prop $time $type $delay, $prop2 $time2 $type2 $delay2, -ms-$prop3 $time3 $type3 $delay3, $prop4 $time4 $type4 $delay4, $prop5 $time5 $type5 $delay5;
			-o-transition: $prop $time $type $delay, $prop2 $time2 $type2 $delay2, -o-$prop3 $time3 $type3 $delay3, $prop4 $time4 $type4 $delay4, $prop5 $time5 $type5 $delay5;
			-moz-transition: $prop $time $type $delay, $prop2 $time2 $type2 $delay2, -moz-$prop3 $time3 $type3 $delay3, $prop4 $time4 $type4 $delay4, $prop5 $time5 $type5 $delay5;
		}@else if $prop4 == transform{
			-webkit-transition: $prop $time $type $delay, $prop2 $time2 $type2 $delay2, $prop3 $time3 $type3 $delay3, -webkit-$prop4 $time4 $type4 $delay4, $prop5 $time5 $type5 $delay5;
			-ms-transition: $prop $time $type $delay, $prop2 $time2 $type2 $delay2, $prop3 $time3 $type3 $delay3, -ms-$prop4 $time4 $type4 $delay4, $prop5 $time5 $type5 $delay5;
			-o-transition: $prop $time $type $delay, $prop2 $time2 $type2 $delay2, $prop3 $time3 $type3 $delay3, -o-$prop4 $time4 $type4 $delay4, $prop5 $time5 $type5 $delay5;
			-moz-transition: $prop $time $type $delay, $prop2 $time2 $type2 $delay2, $prop3 $time3 $type3 $delay3, -moz-$prop4 $time4 $type4 $delay4, $prop5 $time5 $type5 $delay5;
		}@else{
			-webkit-transition: $prop $time $type $delay, $prop2 $time2 $type2 $delay2, $prop3 $time3 $type3 $delay3, $prop4 $time4 $type4 $delay4, -webkit-$prop5 $time5 $type5 $delay5;
			-ms-transition: $prop $time $type $delay, $prop2 $time2 $type2 $delay2, $prop3 $time3 $type3 $delay3, $prop4 $time4 $type4 $delay4, -ms-$prop5 $time5 $type5 $delay5;
			-o-transition: $prop $time $type $delay, $prop2 $time2 $type2 $delay2, $prop3 $time3 $type3 $delay3, $prop4 $time4 $type4 $delay4, -o-$prop5 $time5 $type5 $delay5;
			-moz-transition: $prop $time $type $delay, $prop2 $time2 $type2 $delay2, $prop3 $time3 $type3 $delay3, $prop4 $time4 $type4 $delay4, -moz-$prop5 $time5 $type5 $delay5;
		}
		transition: $prop $time $type $delay, $prop2 $time2 $type2 $delay2, $prop3 $time3 $type3 $delay3, $prop4 $time4 $type4 $delay4, $prop5 $time5 $type5 $delay5 ;
	}
}
@mixin transform-trans($time: 0.4s){
    -webkit-transition: -webkit-transform $time;
    -moz-transition: -moz-transform $time;
    -o-transition: -o-transform $time;
    transition: transform $time;

}

@mixin rotate($deg: 180deg, $axis: 2d){
    @if $axis == 2d{
        -webkit-transform: rotate($deg);
        -moz-transform: rotate($deg);
        -ms-transform: rotate($deg);
        -o-transform: rotate($deg);
        transform: rotate($deg);
    } @else if $axis == Y {
        -webkit-transform: rotateY($deg);
        -moz-transform: rotateY($deg);
        -ms-transform: rotateY($deg);
        -o-transform: rotateY($deg);
        transform: rotateY($deg);
    } @else if $axis == X {
        -webkit-transform: rotateX($deg);
        -moz-transform: rotateX($deg);
        -ms-transform: rotateX($deg);
        -o-transform: rotateX($deg);
        transform: rotateX($deg);
    } @else if $axis == Z {
        -webkit-transform: rotateZ($deg);
        -moz-transform: rotateZ($deg);
        -ms-transform: rotateZ($deg);
        -o-transform: rotateZ($deg);
        transform: rotateZ($deg);
    }

}
@mixin skew($deg: 20deg, $deg2: 0deg){
        -webkit-transform: skew($deg, $deg2);
        -moz-transform: skew($deg, $deg2);
        -ms-transform: skew($deg, $deg2);
        -o-transform: skew($deg, $deg2);
        transform: skew($deg, $deg2);

}
@mixin translate($deg: 50%, $axis: 2d, $deg2: 10%, $deg3 :10%){
    @if $axis == 2d{
        -webkit-transform: translate($deg, $deg2);
        -moz-transform: translate($deg, $deg2);
        -ms-transform: translate($deg, $deg2);
        -o-transform: translate($deg, $deg2);
        transform: translate($deg, $deg2);
    } @else if $axis == 3d {
        -webkit-transform: translate3d($deg, $deg2, $deg3);
        -moz-transform: translate3d($deg, $deg2, $deg3);
        -ms-transform: translate3d($deg, $deg2, $deg3);
        -o-transform: translate3d($deg, $deg2, $deg3);
        transform: translate3d($deg, $deg2, $deg3);
    } @else if $axis == Y {
        -webkit-transform: translateY($deg);
        -moz-transform: translateY($deg);
        -ms-transform: translateY($deg);
        -o-transform: translateY($deg);
        transform: translateY($deg);
    } @else if $axis == X {
        -webkit-transform: translateX($deg);
        -moz-transform: translateX($deg);
        -ms-transform: translateX($deg);
        -o-transform: translateX($deg);
        transform: translateX($deg);
    } @else if $axis == Z {
        -webkit-transform: translateZ($deg);
        -moz-transform: translateZ($deg);
        -ms-transform: translateZ($deg);
        -o-transform: translateZ($deg);
        transform: translateZ($deg);
    }

}
@mixin scale($val1: 1.2, $val2: 1.2, $val3: null){
	@if $val3 == null{
		transform: scale($val1, $val2);
		-webkit-transform: scale($val1, $val2);
		-ms-transform: scale($val1, $val2);
		-moz-transform: scale($val1, $val2);
	}@else{
		transform: scale3d($val1, $val2, $val3);
		-webkit-transform: scale3d($val1, $val2, $val3);
		-ms-transform: scale3d($val1, $val2, $val3);
		-moz-transform: scale3d($val1, $val2, $val3);
	}
}
@mixin select($val1: none){
    -webkit-user-select: $val1;
    -moz-user-select: $val1;
    -ms-user-select: $val1;
    user-select: $val1;
}
@mixin box-shadow($hpos: 1px, $vpos: 1px, $blur: 3px, $spread: 1px, $color: rgba(0,0,0,0.4), $inset:false){
    @if $inset == inset{
      -webkit-box-shadow: inset $hpos $vpos $blur $spread $color;
      -moz-box-shadow: inset $hpos $vpos $blur $spread $color;
      box-shadow: inset $hpos $vpos $blur $spread $color;
    } @else {
      -webkit-box-shadow: $hpos $vpos $blur $spread $color;
      -moz-box-shadow: $hpos $vpos $blur $spread $color;
      box-shadow: $hpos $vpos $blur $spread $color;
    }
}
@mixin backface($val: hidden){
    -webkit-backface-visibility: $val;
    -moz-backface-visibility: $val;
    -ms-backface-visibility: $val;
    -o-backface-visibility: $val;
    backface-visibility: $val;
}
@mixin gradient($val1:white, $val2: #bbb, $pos1: 0%, $pos2: 100%, $val3:empty, $pos3:empty){
    @if $val3 == empty {
        background: $val1; 
        background: -moz-linear-gradient(top,  $val1 $pos1, $val2 $pos2); 
        background: -webkit-gradient(linear, left top, left bottom, color-stop($pos1,$val1), color-stop($pos2,$val2)); 
        background: -webkit-linear-gradient(top,  $val1 $pos1,$val2 $pos2); 
        background: -o-linear-gradient(top,  $val1 $pos1,$val2 $pos2); 
        background: -ms-linear-gradient(top,  $val1 $pos1,$val2 $pos2); 
        background: linear-gradient(to bottom,  $val1 $pos1,$val2 $pos2); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$val1', endColorstr='$val2',GradientType=0 ); 
    } @else{
        background: $val1; 
        background: -moz-linear-gradient(top,  $val1 $pos1, $val2 $pos2, $val3 $pos3); 
        background: -webkit-gradient(linear, left top, left bottom, color-stop($pos1,$val1), color-stop($pos2,$val2), color-stop($pos3,$val3)); 
        background: -webkit-linear-gradient(top,  $val1 $pos1,$val2 $pos2,$val3 $pos3);
        background: -o-linear-gradient(top,  $val1 $pos1,$val2 $pos2,$val3 $pos3); 
        background: -ms-linear-gradient(top,  $val1 $pos1,$val2 $pos2,$val3 $pos3); 
        background: linear-gradient(to bottom,  $val1 $pos1,$val2 $pos2,$val3 $pos3);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$val1', endColorstr='$val3',GradientType=0 );
    }
}
@mixin valign_center { 
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
@mixin circleclip($radius: 25px, $position: at center){
    clip-path: circle($radius $position);
    -moz-clip-path: circle($radius $position);
    -webkit-clip-path: circle($radius $position);
    -ms-clip-path: circle($radius $position);
    -o-clip-path: circle($radius $position);
}
@mixin svgclip($svg){
    clip-path: url($svg);
    -moz-clip-path: url($svg);
    -o-clip-path: url($svg);
    -ms-clip-path: url($svg);
    -webkit-clip-path: url($svg);
}
@mixin absolute_margin{
    position: absolute;
    margin: 0 auto;
    left: 0; right: 0; 
}

@mixin animation($name: null, $time: 0.4s, $smoothing: ease, $delay: 0s, $count: infinite, $direction: normal, $fillmode: none, $play: running ){
    -webkit-animation: $name $time $smoothing $delay $count $direction $fillmode $play;
    -ms-animation: $name $time $smoothing $delay $count $direction $fillmode $play;
    -o-animation: $name $time $smoothing $delay $count $direction $fillmode $play;
    -moz-animation: $name $time $smoothing $delay $count $direction $fillmode $play;
    animation: $name $time $smoothing $delay $count $direction $fillmode $play;
}
@mixin keyframes($animation-name) {
	@-webkit-keyframes #{$animation-name} {
		@content;
	}
	@-moz-keyframes #{$animation-name} {
		@content;
	}
	@-ms-keyframes #{$animation-name} {
		@content;
	}
	@-o-keyframes #{$animation-name} {
		@content;
	}
	@keyframes #{$animation-name} {
		@content;
	}
}

@mixin placeholder($child : false) {
	@if $child == false{
		::-webkit-input-placeholder {
			@content;
		}
		:-moz-placeholder {
			@content;
		}
		::-moz-placeholder {
			@content;
		}
		:-ms-input-placeholder {
			@content;
		}
	}@else{
		&::-webkit-input-placeholder {
			@content;
		}
		&:-moz-placeholder {
			@content;
		}
		&::-moz-placeholder {
			@content;
		}
		&:-ms-input-placeholder {
			@content;
		}
	}
}

@mixin selection($child: false) {
	@if $child == false{
		::-moz-selection {
			@content;
		}
		::selection {
			@content;
		}
	}@else{
		&::-moz-selection {
			@content;
		}
		&::selection {
			@content;
		}
	}
}

@mixin zero-out($position: absolute){
    top: 0;
    bottom: 0; 
    left: 0;
    right: 0;
    height: 100%; 
    width: 100%; 
    position: $position;
}

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
    $src: null;

    $extmods: (
        eot: "?",
        svg: "#" + str-replace($name, " ", "_")
    );

    $formats: (
        otf: "opentype",
        ttf: "truetype"
    );

    @each $ext in $exts {
        $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
        $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
        $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
    }

    @font-face {
        font-family: quote($name);
        font-style: $style;
        font-weight: $weight;
        src: $src;
    }
}

@mixin triangle($direction: right, $width: 10px, $height: $width, $color: black){
  width: 0;
  height: 0;
  @if $direction == right{
	border-top: $width solid transparent;
	border-bottom: $width solid transparent;
	border-left: $height solid $color;
  } @else if ($direction == up) or ($direction == top) {
	border-left: $width solid transparent;
	border-right: $width solid transparent;
	border-bottom: $height solid $color;
  } @else if ($direction == down) or ($direction == bot) or ($direction == bottom) {
	border-left: $width solid transparent;
	border-right: $width solid transparent;
	border-top: $height solid $color;
  } @else {
	border-top: $width solid transparent;
	border-bottom: $width solid transparent; 
	border-right:$height solid $color; 
  }
}

@mixin scrollbars{
	&::-webkit-scrollbar{
		width:5px;
		background-color:$lgraybg;
	}
	&::-webkit-scrollbar-thumb{
		background-color:$graybg;
	}
	&::-webkit-scrollbar-thumb:hover{
		background-color:$blue;
	}
	&::-webkit-scrollbar-thumb:active{
		background-color:lighten($blue, 10%);
	}
}

@mixin ellipsis{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin filter($type:blur, $val:5px, $type2: null, $val2: null){
	// types:
	// blur(px) | brightness(%) | contrast(%) | grayscale(%) | hue-rotate(deg) | invert(%) | saturate(%) | sepia(%)

	@if $type2 != null{
		-o-filter: $type + "(" +  $val  + ") " + $type2 + "(" +  $val2  + ")";
		-moz-filter: $type + "(" + $val + ") " + $type2 + "(" + $val2 + ")";
		-ms-filter: $type + "(" + $val + ") " + $type2 + "(" + $val2 + ")";
		-webkit-filter: $type + "(" +  $val  + ") " + $type2 + "(" +  $val2  + ")";
		filter: $type + "(" + $val + ") " + $type2 + "(" + $val2 + ")";
	}@else{
		-o-filter: $type + "(" +  $val  + ")";
		-moz-filter: $type + "(" + $val + ")";
		-ms-filter: $type + "(" + $val + ")";
		-webkit-filter: $type + "(" +  $val  + ")";
		filter: $type + "(" + $val + ")";
	}
}
	// common filters
	@mixin blur($val){
		// val  = px
		-o-filter: blur($val);
		-moz-filter: blur($val);
		-ms-filter: blur($val);
		-webkit-filter: blur($val);
		filter: blur($val);
	}
	@mixin sepia($val){
		// val  = %
		-o-filter: sepia($val);
		-moz-filter: sepia($val);
		-ms-filter: sepia($val);
		-webkit-filter: sepia($val);
		filter: sepia($val);
	}
	@mixin brightness($val){
		// val  = %
		-o-filter: brightness($val);
		-moz-filter: brightness($val);
		-ms-filter: brightness($val);
		-webkit-filter: brightness($val);
		filter: brightness($val);
	}
	@mixin contrast($val){
		// val  = %
		-o-filter: contrast($val);
		-moz-filter: contrast($val);
		-ms-filter: contrast($val);
		-webkit-filter: contrast($val);
		filter: contrast($val);
	}

// Flex CONTAINER properties ( <ul class="flex-container"> )
@mixin flex{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
@mixin justify-content($val:stretch){
	// flex-start (default) | flex-end | center | space-between | space-around
	-webkit-justify-content: $val;
	justify-content: $val;
}
@mixin flex-flow($flex-direction:row, $flex-wrap:stretch ){
	// Shorthand of flex-direction / flex-wrap
	-webkit-flex-flow: $flex-direction $flex-wrap;
	flex-flow: $flex-direction $flex-wrap;
}
	@mixin flex-direction($dir:row){
		// row (default) | column
		-webkit-flex-direction: $dir;
		flex-direction: $dir;
	}
	@mixin flex-wrap($val:stretch){
	// nowrap (default) | wrap | wrap-reverse
	-webkit-flex-wrap: $val;
	flex-wrap: $val;
}
@mixin align-items($val:stretch){
	// flex-start | flex-end | center | baseline | stretch (default)
	-webkit-align-items: $val;
	align-items: $val;
}
@mixin align-content($val:stretch){
	// flex-start | flex-end | center | space-between | space-around | stretch (default)
	-webkit-align-content: $val;
	align-content: $val;
}

// CHILD properties of flex container ( <li class="flex-item"></li> )
@mixin order($val:1){
	-webkit-order: $val;
	order: $val;
}
@mixin flex-grow($val:1){
	-webkit-flex-grow: $val;
	flex-grow: $val;
}
@mixin flex-shrink($val:1){
	-webkit-flex-shrink: $val;
	flex-shrink: $val;
}
@mixin flex-basis($val:25%){
	// base width of element (in percentage, em, px.) \ auto ()
	-webkit-flex-basis: $val;
	flex-basis: $val;
}
@mixin align-self($val:flex-start){
	// auto | flex-start | flex-end | center | baseline | stretch
	-webkit-align-self: $val;
	align-self: $val;
}

@mixin prefix($property, $value, $vendors: webkit moz ms o) {
	@if $vendors {
		@each $vendor in $vendors {
			#{"-" + $vendor + "-" + $property}: #{$value};
		}
	}
	#{$property}: #{$value};
}

// ------------------------------------------------------

// FUNCTIONS 
// ===========================================

@function str-replace($string, $search, $replace: "") {
    $index: str-index($string, $search);

    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}