// VARIABLES
// -----------------------------------------------------
 
/*      FONT      */
$family: 'Work Sans', sans-serif;

/*		COLORS 		*/
$blue: #00d9ed;
$salmon: #ef7a71;
$red: #ee1534;
$orange: #eeba40;
$purple: #7605e6;
$lpurple: #a46bc2;
$lblue: #15bee3;
$yellow: #ffd800;
$dred: #780707;
$green: #41ce0f;
$cream: #fefbf3;
$error: #f43c2c;
$lpurple: #9e57f6;
$lila: #ceabfa;

//monochrome
$graybg: #453c3a;
$black: black;
$lighterblack: #1c1c1c;
$white: white;
$dgray: #272429;
$dgraybg: #1c1c1c;
$lgray: #bebcbc;
$grayline: #756f6e;
$lgraybg: #e8e8e8;
$vlgraybg: #f3f3f3;
$subline: #646464;
$white-gray: #f1f1f1;

/* 		SPACE		*/
$pad: 20px;
$maxwidth: 1000px;


/* 		MEDIA		*/
$media_xxl : 1400px;
$media_xl: 1200px;
$media_l: 991px;
$media_m: 767px;
$media_s: 700px;
$media_xs : 600px;
$media_xxs : 450px;


/* 		Z-INDEX 	*/
$lvl1: 10;
$lvl2: 50;
$lvl3: 100;
$lvl4: 150;
$lvl5: 200;
$lvl6: 250;


// bootstrap sizes
// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;



