meta(name="description" content="Keaton-Row Weather App")/
meta(name="keyword" content="Weather, Keaton-row")/
meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")/
meta(charset="utf-8")/
meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")/
meta(property="og:locale" content="en")/
meta(property="og:type" content="website")/
meta(property="og:title" content="Keaton-row Weather App")/
meta(property="og:image" content="./images/favicon.png")/
meta(property="og:description" content="A weather app created for Keaton-row")/
meta(property="og:url" content="http://www.keaton-row.com")/
meta(property="og:site_name" content="Keaton-row")/
link(rel="shortcut icon" href="./images/favicon.png")/
link(rel="icon" type="image/png" href="./images/favicon.png" sizes="16x16")/
link(href="./css/main.min.css" rel="stylesheet" type="text/css")/
script(src="./js/vendor.min.js")
script(src="./js/app.min.js")